legend {
    font-size: 115%;
    color: lightseagreen;
    font-weight: bold;
}

#divBlanco {
    float: left;
    height: 120px;
    width: 300px;
    border: solid 1px black;
    background-color: white;
    margin: 5px;
    font-size: 100%;
}

#divAmarillo {
    float: right;
    height: 80px;
    width: 100px;
    border: solid 1px black;
    background-color: yellow;
    margin: 5px;
}

#divPurpura {
    float: left;
    height: 50px;
    width: 120px;
    border: solid 1px black;
    background-color: purple;
    margin: 5px;
    color: white;
}

#divNegro {
    float: right;
    height: 80px;
    width: 100px;
    border: solid 1px black;
    background-color: black;
    color: white;
    margin: 5px;
}

#divRojo {
    float: right;
    height: 80px;
    width: 70px;
    border: solid 1px black;
    background-color: red;
    margin: 5px;
}

#divVerde {
    float: left;
    height: 120px;
    width: 300px;
    border: solid 1px black;
    background-color: green;
    margin: 5px;
    font-size: 100%;
}

#divNaranja {
    float: right;
    height: 80px;
    width: 100px;
    border: solid 1px black;
    background-color: orange;
    margin: 5px;
}

#divAqua {
    float: left;
    height: 50px;
    width: 120px;
    border: solid 1px black;
    background-color: aqua;
    margin: 5px;
}

#divGris {
    float: right;
    height: 80px;
    width: 100px;
    border: solid 1px black;
    background-color: gray;
    color: black;
    margin: 5px;
}

#divRosa {
    float: right;
    height: 80px;
    width: 70px;
    border: solid 1px black;
    background-color: pink;
    margin: 5px;
}

#divCian {
    float: left;
    height: 120px;
    width: 300px;
    border: solid 1px black;
    background-color: cyan;
    margin: 5px;
    font-size: 100%;
}

#divBeige {
    float: right;
    height: 80px;
    width: 100px;
    border: solid 1px black;
    background-color: beige;
    margin: 5px;
}

#divOro {
    float: left;
    height: 50px;
    width: 120px;
    border: solid 1px black;
    background-color: gold;
    margin: 5px;
}

#divMarino {
    float: right;
    height: 80px;
    width: 100px;
    border: solid 1px black;
    background-color: navy;
    color: white;
    margin: 5px;
}

#divOliva {
    float: right;
    height: 80px;
    width: 70px;
    border: solid 1px black;
    background-color: olive;
    margin: 5px;
}

div {
    float: left;
    height: 50px;
    width: 120px;
    border: solid 1px black;
    margin: 5px;
}